<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="hsl(94 51.4% 27.5%)">
        <title>{% block html_title %}{{ config.title }}{% endblock %}</title>

        {% block html_description %}
        {% if config.description %}
            <meta name="description" content="{{ config.description }}">
        {% endif %}
        {% endblock %}

        {% block css %}
            <link rel="stylesheet" type="text/css" href="{{ get_url(path='index.css', trailing_slash=false) | safe }}"/>
        {% endblock %}

        {% block rss %}
            {% if config.generate_feed %}
                <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
            {% endif %}
        {% endblock %}
  </head>
  <body class="site">
      <header>
      {% block nav %}
          <nav class="container mt-6">
              <h1>{{ config.title }}</h1>
          </nav>
          <hr class="nav-hr">
      {% endblock nav %}
      </header>

      <main>
      {% block content %}
          <section class="container">
          </section>
      {% endblock %}
      </main>

      <footer>
      {% block footer %}
          <div class="container">
              {% if config.extra.disclaimer %}
                  <p class="small">{{ config.extra.disclaimer | safe }}</p>
              {% endif %}
              {% if config.extra.copyright %}
                  <p class="small">{{ config.extra.copyright | safe }}</p>
              {% endif %}
          </div>
      {% endblock %}
      </footer>
  </body>
</html>
