{% extends "base.html" %}


{% block content %}
    <div class="container">
        <div class="fp-section">
            {% if config.extra.author_bio_title %}
                <h2>{{ config.extra.author_bio_title }}</h2>
            {% endif %}

            {{ config.extra.author_bio_description | safe }}
        </div>

        <div class="fp-section">
            <h2>
                <a href="">Blog</a>
                {% if config.generate_feed %}
                    <small><a href="{{ get_url(path="rss.xml", trailing_slash=false) }}">(RSS)</a></small>
                {% endif %}
            </h2>
            {% if config.extra.blog_summary %}
                {{ config.extra.blog_summary | safe }}
            {% endif %}

            <div>
            </div>


        </div>

    </div>
{% endblock content %}
